.container {
  margin: 10px 0;
}
.heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
}
#examplecity {
  width: 90%;
}
.city-div {
  display: flex;
}
#addcity {
  margin-left: 5px;
}
#examplecountry {
  width: 90%;
}
.country-div {
  display: flex;
}
#addcountry {
  margin-left: 5px;
}
.password-div {
  display: flex;
}
#reloadpassword {
  margin-left: 5px;
}
#examplepassword {
  width: 90%;
}
